includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - %rootDir%/../../../vendor/*

